.botonimagen1{
    background-image: url("/usuario_normal1.png");
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 5px 5px rgb(0, 0, 0);
  }

.botonimagen1:hover{
  font-size: 70px;
  text-shadow: 5px 5px rgb(3, 3, 3);
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}

.botonimagen2{
  background-image: url("/usuario_normal.jpg")  !important;
  text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 5px 5px rgb(0, 0, 0);
}

.botonimagen2:hover{
  font-size: 70px;
  text-shadow: 5px 5px rgb(3, 3, 3);
  -webkit-transform:scale(1.25);
  -moz-transform:scale(1.25);
  -ms-transform:scale(1.25);
  -o-transform:scale(1.25);
  transform:scale(1.25);
}

.cardTransp{
  background-color: #fff0 !important;
}

.btn-outline-success:hover{
  background-color: red !important;
}

.buttonBasic {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}